{% extends 'global/base.html' %}
{% load static %}

{% block title %}PHD Store - Oportunidades em Alimentos{% endblock %}

{% block extra_head %}
    <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.ico' %}">
{% endblock %}

{% block content %}
    <header class="hero">
        <div class="hero-content">
            <h2>Qualidade intacta. Preços que cabem no bolso.</h2>
            <p>Aproveite nossos produtos alimentícios com pequenas avarias estéticas na embalagem e descontos de até 70%!</p>
        </div>
    </header>

    {% include "global/partials/produtos.html" %}

    <footer>
        <p>PHD Store © Todos os direitos reservados</p>
        <p class="footer-slogan">Para tudo na vida existe várias coisas, para logística do seu produto existe o Grupo PHD</p>
    </footer>
{% endblock %}