asgiref==3.11.1
dbus-python==1.3.2
distlib==0.3.8
dj-database-url==3.1.2
Django==6.0.7
django-environ==0.14.0
gunicorn==26.0.0
packaging==24.0
pillow==12.3.0
psycopg2-binary==2.9.12
pycairo==1.28.0
PyGObject==3.54.2
python-dotenv==1.2.2
setuptools==68.1.2
sqlparse==0.5.5
wheel==0.42.0
whitenoise==6.12.0
