@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Lado do Formulário */
.login-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-box {
    width: 100%;
    max-width: 400px;
}

.login-box h1 {
    font-size: 2rem;
    color: #1a1a1a;
    margin-bottom: 2rem;
}

.login-subtitle {
    font-size: 1.1rem;
    color: #777;
    font-weight: 400;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    background-color: #fff;
    transition: border-color 0.3s;
}

.input-field:focus-within {
    border-color: #6c63ff;
}

.input-field i {
    color: #999;
    margin-right: 10px;
}

.input-field input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #bbb;
}

.toggle-password {
    cursor: pointer;
    margin-right: 0 !important;
    margin-left: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 0.875rem;
}

.remember {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.forgot-password {
    color: #a0a0a0;
    text-decoration: none;
}

.btn-entrar {
    width: 100%;
    padding: 1rem;
    background-color: #C0333D;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-entrar:hover {
    background-color: #C0333Dcc;
}

.signup-link {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: #999;
}

.signup-link a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
}

.signup-link a:hover {
    color: #362f99;
    text-decoration: underline;
}

/* Lado da Ilustração */
.image-section {
    width: 50%;
    background-color: #868686;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    text-align: center;
}

.illustration-content {
    text-align: center;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    max-width: 95%;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    align-self: center;
}

.credits {
    font-size: 0.75rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.image-section h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #383A39;
}

/* Responsividade básica para telas menores */
.login-logo-mobile {
    display: none;
    max-width: 250px;
    margin: 0 auto 3rem auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .login-section {
        width: 100%;
        flex: 1;
        padding: 1.5rem;
        text-align: center; /* Centraliza o logo no mobile */
    }
    .image-section {
        display: none; /* Oculta a imagem em telas muito pequenas (ex: mobile) */
    }
    .login-logo-mobile {
        display: block;
    }
    /* Retorna o alinhamento do texto dos labels e links para esquerda, já que a section foi centralizada */
    .input-group label, .options {
        text-align: left;
    }
}